body {
    font-family: Arial, sans-serif;
    background-color: #e500a4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    background-color: #7d43b7;
    color: #fff;
    padding: 10px;
}

form {
    width: 300px;
    margin: 0 auto;
    background-color: #eeaeee;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select, input[type="text"], input[type="submit"] {
    width: 260px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    width: auto;
    background-color: #6a00f4;
    color: #fff;
    cursor: pointer;
    align-items: center;
    cursor: pointer;
    display: block;
}

div {
    font-weight: bold;
    text-align: center;
}

/* Agrega un recuadro alrededor de la div */
.resultado-box {
    border: 1px solid #ccc; 
    padding: 10px;
    margin-top: 10px;
    background-color: #7d43b7; 
    font-size: 20px;
}

/* Estilos para el footer */
footer {
    background-color: #7d43b7; 
    color: #ef92d5;
    padding: 10px; 
    text-align: center; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
}


footer a {
    color: #ef92d5; 
    margin: 0 10px; 
}

.sin-viñetas {
    list-style-type: none; 
}

.boton-calcular {
    background-color: #7d43b7;
    color: #FFFFFF; 
    font-size: 18px; /* Aumenta el tamaño del texto */
    padding: 15px 30px; /* Aumenta el espacio interno para hacer el botón más grande */
    border-radius: 5px; 
    cursor: pointer; 
    display: block; /* Hacer que el botón sea un bloque para centrarlo correctamente */
    margin: 0 auto; /* Centrar horizontalmente el botón */
}



